body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(246, 244, 234);
}

.navbar {
    padding: 20px;
    background-color: #edc4c4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a, .navbar strong {
    margin-right: 15px;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.photo-section img {
    width: 32%;
    margin-right: 1.3%;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}

#h1 {
    color: blueviolet;
}
#h2 {
    color: burlywood;
}
#h3{
    color:darkred
}

#img1{
    size: 4000cm;
}

